.details-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details__card {
  width: 800px;
  height: fit-content;
  display: flex;
  padding: 10px;
  border: 1px solid #b8b006;
  border-radius: 8px;
}
.details__image {
  width: 400px;
  border-radius: 8px;
}
.details__content {
  margin: 20px;
  line-height: 30px;
}
.details--position {
  position: relative;
}
.details__button {
  color: #000;
  font-size: 1.4rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.details__button:hover {
  text-shadow: 0px 0px 4px #cccaab;
}
