.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 120px;
  background-color: #6f6556;
}
.header__logo {
  width: 60px;
  border-radius: 50%;
}
.header__list {
  width: 40%;
}
.header__list ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
.link:active {
  color: #b8b006;
}
